$header--background: rgba(#ef7f75, 0.4);
$box--shadow: #ef7f75 4px 4px 20px;
$box--shadow--active: #ef7f75 0 0 5px;
$box--shadow--btn: #ef7f75 3px 3px 7px;
$color: #fff;

.header--video {
  background-color: lighten($color, 15%);
  padding: 80px 0;
  color: #eee;

  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 10%;
  // New add
  .iframe-ctn {
    max-width: 1000px;
    max-height: 650px;

    iframe {
      width: 1000px;
      height: 650px;
    }
  }
  .scrolly {
    margin-left: 5%;
    height:650px;
    width: 30%;
    overflow-y: scroll;
    color: black;
    .scroll-elt{


      .scroll-img{
        padding: 5px 0;
        margin-left: 5%;
        height:20;
        width:30%;

      }
      .scroll-title{
        margin-left: 4%;
        font-weight: 500;

      }
    }
     .vid{
        width: 100%;
        height: 10px;
      }

  }

  .scrolly::-webkit-scrollbar {
    position: absolute;
    width: 7px;
    background-color: white;
  }

  .scrolly::-webkit-scrollbar-thumb {
    background: #ae3764;
  }
  h3 {
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
  }

  p {
    line-height: 1.5;
  }
}
@media screen and (max-width: 720px) {
  .iframe-ctn {
    order: 1;
  }

  #video__title {
    order: 2;
  }

  .info--video {
    margin-top: 1rem;
  }

  .prog-cards-ctn {
    order: 3;
  }
}




.components {
  margin: 0 300px;
/*   border:1px solid #e6e2e4;
border-right-color: #ffff;
  border-left-color: #ffff;
  border-bottom-color: #ffff; */
  .title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0px 20px 90px;
    margin-left: 90px;
  }

  .cards {
    box-sizing: border-box;
    display: flex;
    //justify-content: space-between;
    justify-content: center;
    gap: 2rem 4rem;

    .vid{
      width: 300px;
      height: 200px;

    }
  }

  .videos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 20px;
    justify-content: space-between;
  }
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;

  .btn--prog {
    height: 40px;
    margin-bottom: 20px;
    width: 100%;

    min-width: 150px;
    max-width: 208px;
    color: white;
    background: #8d0202;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 15px;

    &:hover {
      background: #8d020284;
    }
  }

}

@media (max-width: 64em) {

  @media (max-width: 48em) {

  }
}

@media (max-width: 64em) {
/*   .header--video {
    gap: 0px;
    margin-top: -35%;
    flex-direction: column-reverse;
    background-color: blue;

    .iframe-ctn {
      max-width: 900px;
      max-height: 350px;

      iframe {
        width: 900px;
        height: 350px;
      }

    }


      .scrolly {
        width:530px;
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: -4%;

        overflow-y: scroll;
         .vid{
          width: 200px;
          height: 100px;
          }
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
    }
  } */
  .header--video {
    gap: 30px;
    flex-direction: column-reverse;

    .iframe-ctn {
      max-width: 650px;
      max-height: 350px;
      display: flex;
      flex-direction: column;
      margin-left: -4%;
      gap: 1rem;
      iframe {
        width: 680px;
        height: 350px;
        margin-left: -4%;
      }

    }
    .scrolly {
     width:500px;
      height: 350px;
      margin-top: -4%;

      flex-direction: column;
      gap: 1rem;
      margin-left: -4%;

      overflow-y: scroll;
       .vid{
        width: 200px;
        height: 100px;
        }

    }
  }
  .components {
    margin: 0 40px;

    .cards {
      gap: 1rem;
    }
  }

}
@media (max-width: 48em) {
  .header--video {
    gap: 30px;
    flex-direction: column-reverse;

    .iframe-ctn {
      max-width: 500px;
      max-height: 350px;
      display: flex;
      flex-direction: column;
      margin-left: -4%;
      gap: 1rem;
      iframe {
        width: 500px;
        height: 350px;
      }

    }
    .scrolly {
     width:500px;
      height: 350px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-left: -4%;

      overflow-y: scroll;
       .vid{
        width: 200px;
        height: 100px;
        }

    }
  }

  .components {

    .cards {

      flex-wrap: wrap;
      //gap: 1rem;
      app-prog-card{
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 27em) {
  .header--video {
    gap: 20px;
    flex-direction: column-reverse;
    .iframe-ctn {
      max-width: 300px;
      max-height: 270px;

      iframe {
        width: 300px;
        height: 270px;
      }

    }
  }
}
